.message-form {
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
}

.messages {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.text-pole {
    width: 100%;
}

.message-container {
    width: 80%;
    margin-top: 20px;
    background-color: #7b5a7d;
    color: white;
    padding-left: 15px;
    border: none;
    border-radius: 15px;
}