.message-form {
    display: flex;
    flex-direction: row;
    width: 95%;
    position: fixed;
    margin-left: 3%;
}

.pole {
    width: 70%;
}

.button-chat {
    text-decoration: none;
    text-align: center;
    border: none;
    border-radius: 15px;
    background-color: #E708C8;
    color: white;
    height: 4%;
    width: 10%;
}

.messages {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.message-container {
    width: 80%;
    margin-top: 20px;
    background-color: #7b5a7d;
    color: white;
    padding-left: 15px;
    border: none;
    border-radius: 15px;
}