.content-reglog {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.forma {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.logo-reglog {
    width: 50%;
    margin-left: 50%;
}

.reglog {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 25%;
}

.pole {
    width: 90%;
    margin-left: 5%;
    height: 20px;
    border-color: dimgray;
}

.input-button {

}