.button-add {
    margin-bottom: 3%;
    margin-left: 60%;
    position: fixed;
    text-decoration: none;
    text-align: center;
    border: none;
    border-radius: 15px;
    background-color: #E708C8;
    color: white;
    height: 4%;
    width: 10%;
}

.button-add:hover {
    background-color: #B00097;
}

.search-block {
    display: flex;
}