/* Общие стили для body */
body {
    margin: 0;
    font-family: Georgia, serif;
}
/* Прочие стили */
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
}

.duty-hours {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 100px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #E0E0E0;
}

.avatar {
    display: flex;
    margin-left: 5px;   
    width: 75px;
    height: 75px;
    border-radius: 100%;
}

.duty-button {
    display: flex;
    text-align: center;
    margin-left: auto;
    margin-right: 30px;
    margin-top: 33px;
    border: none;
    border-radius: 10px;
    height: 33px;
    color: white;
    background-color: #E708C8;
}

.duty-button:hover {
    background-color: #B00097;
}

.text {
    display: flex;
    margin-left: 10px;
}

.task-table {
    width: 90%;
    display: flex;
    border-collapse: collapse;
    flex-direction: column;
    background-color: #E0E0E0;
    border-radius: 5px;
}

.top-table {
    width: 95%;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 2px solid #4d5154;
    border-radius: 5px;
    align-items: stretch;
    margin-left: 2.5%;
    display: flex;
    flex-direction: row;
}

.string-table {
    width: 95%;
    margin-bottom: 5px;
    margin-left: 2.5%;
    display: flex;
    border: 2px solid #4d5154;
    border-radius: 5px;
    flex-direction: row;
    align-items: stretch;
    align-content: stretch;
    background-color: white;
}

.loginbut {
    display: flex;
    flex-direction: row;
    height: 30px;
}

.butlog {
    display: flex;
    width: 120px;
    height: 100%;
    text-decoration: none;
    border: none;
    border-radius: 15px;
    background-color: #E708C8;
    text-align: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 16px;
    margin-left: 20px;
}

.butlog:hover {
    background-color: #B00097;
}

p {
 width: 200px;   
}

.reg-but-regsite {
    display: flex;
    width: 200px;
    height: 100%;
    border: none;
    border-radius: 15px;
    background-color: #E708C8;
    text-align: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 16px;
    margin-left: 20px;
}

.reg-but-regsite:hover {
    background-color: #B00097;
}

td {
    width: 33%;
    height: 50px;
    text-align: left;
    padding-left: 10px;
}

th {
    width: 33%;
    height: 50px;
    padding-left: 10px;
}
